/* Pages/Menu.css */

.menu-container {
  padding: 2rem;
}

.menu-header {
  text-align: center;
}

.menu-search {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.menu-search input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.menu-search button {
  background-color: #ff6347; /* Tomato color */
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.menu-search button:hover {
  background-color: white; /* Change background to white on hover */
  color: #ff6347; /* Change text color to tomato */
}

.menu-items {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px; /* Spacing between menu items */
}

.menu-card {
  background-color: #fff; /* White background for menu cards */
  border: 2px solid #ff6347; /* Tomato border */
  border-radius: 10px;
  padding: 10px;
  text-align: center;
  transition: transform 0.3s;
}

.menu-card:hover {
  transform: scale(1.05); /* Scale effect on hover */
}

.add-btn {
  background-color: #ff6347; /* Tomato color */
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.add-btn:hover {
  background-color: white; /* Change background to white on hover */
  color: #ff6347; /* Change text color to tomato */
}
